<!-- apps/templates/bookmodule/formatting.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formatting Example</title>
    <link rel="stylesheet" href="{% static 'bookmodule/formatting.css' %}"> 
</head>
<body>
    <h1>Example of Formatting tags</h1>
    <p>This text has <b>subtext</b> using b tag</p>
    <p>This text has <strong>subtext</strong> using strong tag</p>
    <p>This text has <i>subtext</i> using i tag</p>
    <p>This text has <em>subtext</em> using emphasize tag</p>
    <p>This text has <small>subtext</small> using small tag</p>
    <p>This text has <mark>subtext</mark> using mark tag</p>
    <p>This text has <del>subtext</del> using del tag</p>
    <p>This text has <ins>subtext</ins> using ins tag</p>
    <p>This text has X<sub>subtext</sub> using sub tag</p>
    <p>This text has X<sup>subtext</sup> using sup tag</p>
</body>
</html>