<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}  <!-- Load static template tag here -->
    <link rel="stylesheet" href="{% static 'bookmodule/main.css' %}">
    <title>Links Page</title>
</head>
<body>
    <h1>Links Example</h1>
 <a href="https://www.qu.edu.sa" target="_blank" class="link">Go to QU website (open in a new tab)</a>
 <a href="https://www.qu.edu.sa" class="link">Go to QU website (open in the same page/tab)</a>
 <a href="https://www.qu.edu.sa" class="link">Go to QU website (open in the same page/tab)</a>
</body>
</html>