<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bookmodule/main.css' %}">
    <title>Listing Example</title>
</head>
<body>
    <h1>Listing Example</h1>
    <ul class="nested-list">
        <li>Item 1
            <ul>
                <li>Subitem 1</li>
                <li>Subitem 2</li>
            </ul>
        </li>
        <li>Item 2</li>
    </ul>
</body>
</html>