body {
    font-family: Arial, sans-serif;
}

h1 {
    background-color: #6299A0;
    color: white;
    padding: 15px;
    text-align: left;
}

ul, ol {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}
